.formatters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.action-buttons, .style-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}
button {
  background: #e0e0e0;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
}
input{
width: 32px;
  height: 32px;
  border-radius: 4px;
  border: 1px solid #aaa;
  cursor: pointer;
  padding: 0;
}