.formatters-container {
  display: flex;
  flex-direction: column;  
  background-color: #e9e8e8;
}
.action-grid {
  background-color: #cbc9c9;
  border: 1px solid #cbc9c9;
  padding: 1rem;
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}
.action-grid button {
  background: #edebeb;
  border: 1px solid #faf7f7;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
}
.format-toolbar {
  background-color: #cbc9c9;
  border: 1px solid #fcfbfb;
  display: flex;
  margin: 1rem;    
}
.format-toolbar button {
  margin: auto;
  /* border: #e8e5e5; */
  cursor: pointer;
}
/* Circular color picker */
.format-toolbar input[type="color"] {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #aaa;
  cursor: pointer;
  padding: 0;
  background: none;
  overflow: hidden;
}
.format-toolbar input {
  width: 32px;
  height: 32px;
  border: 1px solid #f9f8f8;
  cursor: pointer;
}