nav {
  background-color: #e0e0e0;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid #bbb;
}
nav a:hover{
  color: blue;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 0.3rem 0.8rem;
}
nav a.active {
  background-color: #ccc;
  border-radius: 4px;
}